[submodule "mdspan"]
	path = mdspan
	url = https://github.com/kokkos/mdspan
[submodule "featomic"]
	path = featomic
	url = https://github.com/metatensor/featomic
[submodule "libcint"]
	path = libcint
	url = https://github.com/RealUranar/libcint.git
