#Filetypes to ignore
*.log
*.tscb
*.densities
*.cube
*.user
*.obj
*.ifc
*.so
*.dylib
__pycache__

#Explicit Files to ignore
tests/alanine_integrated_occ/alanine.owf.fchk
tests/sucrose_fchk_SF/olex2/Wfn_job/sucrose_rho.cube
tests/sucrose_fchk_SF/olex2/Wfn_job/sucrose_lap.cube
tests/sucrose_fchk_SF/olex2/Wfn_job/sucrose_eli.cube
tests/epoxide_gbw/converted.wfn
tests/sucrose_fchk_SF/olex2/Wfn_job/sucrose_rho.cube
tests/reading_SALTED/alanine_rho.cube
tests/reading_SALTED/ORCA/water_monomer.densities
tests/reading_SALTED/ORCA/water_monomer.gbw
tests/reading_SALTED/ORCA/water_monomer.inp
tests/reading_SALTED/ORCA/water_monomer.wfn
tests/reading_SALTED/ORCA/water_monomer.wfx
tests/reading_SALTED/ORCA/water_monomer_property.txt
tests/reading_SALTED/visualize water
tests/reading_SALTED/water_monomer_rho.cube
tests/reading_SALTED/water_rho.cube
tests/ECP_SF/Atomic_densities/*.gbw
tests/Coeffs_From_ML/*
tests/reading_ML_Coeffs
tests/SALTED/sfacs.dat
tests/cytidine_tonto/temp_wavefunction.wfn
tests/SALTED/temp_rascaline.xyz
tests/grown/temp_wavefunction.wfn
/tests/RI_Test_2
Src/basis_data.cpp

#Executables
/NoSpherA2
/NoSpherA2_Debug
Linux/NoSpherA2
Mac/NoSpherA2_Debug

*.exe
*.dll

checkpoint.txt
/intel-onemkl*.sh

/Windows/Windows_utils/Build_Dependencies/deps.stamp
/Windows/Windows_utils/MKL.auto.props
/Windows/Windows_utils/Build_Dependencies/*/*

#Folders created by build
/build*
/Windows/NoSpherA2*/*/*
/Windows/Tests/*/*

#Libs
/Lib/*


