[submodule "mdspan"]
	path = mdspan
	url = https://github.com/kokkos/mdspan
[submodule "featomic"]
	path = featomic
	url = https://github.com/metatensor/featomic
[submodule "metatensor"]
	path = metatensor
	url = https://github.com/metatensor/metatensor.git
