*.obj
*.lastbuildstate
*.tlog
*.pdb
*.log
*.db
*.opendb
*.ipch
*.exe
*.iobj
*.ipdb
*.d
*.o
*.idb
*.ilk
*.tsc
*.sarif
*.xml
*.recipe
*.db-shm
*.db-wal
*.suo
*.bin
NoSpherA2_linux/bin/*/*/NoSpherA2*
*.cubin
*.ptx
*.cache
*.gpu
Windows/*/*/unity_*.cpp
*.enc
Linux/NoSpherA2
NoSpherA2
*.tscb
tests/sucrose_fchk_SF/olex2/Wfn_job/sucrose_rho.cube
tests/sucrose_fchk_SF/olex2/Wfn_job/sucrose_lap.cube
tests/sucrose_fchk_SF/olex2/Wfn_job/sucrose_eli.cube
tests/epoxide_gbw/converted.wfn
*.FileListAbsolute.txt
tests/sucrose_fchk_SF/olex2/Wfn_job/sucrose_rho.cube
Windows/.vs/NoSpherA2/v16/.suo
*.deps
*.pch
